.library-table-name span,
.page-center,
.page-flex,
.sidebar-user-img picture,
.users-table picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo-text,
.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-body {
  padding-top: 20px;
}

.sidebar-footer {
}

.main-wrapper {
  position: relative;
  width: 100%;
}

.main-nav--bg {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background-color: #fff;
}
